table{
    width: 100%;
    margin-top: 5vh;
}
thead{
    line-height: 2;
    border-bottom: 2px solid black;
}
th{
    text-align: left;
}
td{
    padding: 10px 0;
}
.btn-cancel     {
    color: white;
    background-color: #e16973;
    padding: 3px 8px;
    border-radius: 8px;
}